<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="header-index">
        <div class="block">
            <h1>LifeSpot - прямые трансляции с улиц</h1>
            <p>Покажем что проиходит прямо сейчас</p>
            <!--<a href="https://youtu.be/AdUw5RdyZxI"><button>Нью-йорк</button></a>
            <a href="https://www.youtube.com/watch?v=wCcMcaiRbhM"><button>Санкт-петербург</button></a>
            <a href="https://www.youtube.com/watch?v=JplMzss6_YE&ab_channel=WokiliWanders"><button>Лондон</button></a>-->
        </div>
        <div class="box-search">
            <div>
                <input class="search" type="search" name="q" placeholder="Поиск по сайту" />
            </div>

        </div>
    </header>
    <div class="videos">
        <!--Нью-йорк-->
        <div class="video-container">
            <h3 class="name-video">Нью-йорк</h3>
            <iframe width="480" height="320" src="https://www.youtube.com/embed/AdUw5RdyZxI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Санк-петербург-->
        <div class="video-container">
            <h3 class="name-video">Санкт-петербург</h3>
            <iframe width="480" height="320" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Лондон-->
        <div class="video-container">
            <h3 class="name-video">Лондон</h3>
            <iframe width="480" height="320" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>

    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>

</body>

</html>
