<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/index.js"></script>
    <script>
     // checkAge();
     setTimeout(()=> alert("Нравится LifeSpot? " + '\n' +  "Подпишитесь на наш Instagram @lifespot999!" ),60000)
     sessionHandler();
     sessionLog();

       const inputParseFunction = function(){
       return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
    </script>

</head>
<body>
    <header id="header-index">
      <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем что проиходит прямо сейчас</p>
        <div class="box-search">
            <div>
                <input type="text" oninput="
                // Вызов (функция в аргумент передаётся без круглых скобок)
                contentFilter();
                 " size=50%>
            </div>
        </div>
    </header>
    <div class="videos">
        <!--Нью-йорк-->
        <div class="video-container">
            <h3 class="name-video">Нью-йорк</h3>
            <iframe width="480" height="320" src="https://www.youtube.com/embed/AdUw5RdyZxI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Санк-петербург-->
        <div class="video-container">
            <h3 class="name-video">Санкт-петербург</h3>
            <iframe width="480" height="320" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--Лондон-->
        <div class="video-container">
            <h3 class="name-video">Лондон</h3>
            <iframe width="480" height="320" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>

</html>
